os:
  - osx
language: generic
sudo: required
dist: trusty
osx_image: xcode9.1
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
script:
  - swift build
  - swift test
notifications:
  email: false